<h1>Node js View</h1>

<form action = "/" method="post">
    FirstName: <input type="text" name="firstName"><br/>
    LastName: <input type="text" name="lastName"><br/>
    Password: <input type="text" name="password"><br/>
   Enter Email: <input type="email" name="email"><br/>
    <button type="submit">Submit</button>
</form>


{{email}}